<%<%  provideprovide((:title:title,,  "About""About"))  %>%>
 <<h1h1>>AboutAbout</</h1h1>>
 <<pp>>
  The    The <<aa  hrefhref=="http://www.railstutorial.org/""http://www.railstutorial.org/"><><emem>>Ruby on Rails
  TutorialRuby on Rails   Tutorial</</emem></></aa>> is a
   is a   <<aa  hrefhref=="http://www.railstutorial.org/book""http://www.railstutorial.org/book">>bookbook</</aa>> and
   and   <<aa  hrefhref=="http://screencasts.railstutorial.org/""http://screencasts.railstutorial.org >screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>